/* App.css */
.main {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  form {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  form input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles to visually separate different components within the app */
  .search-section,
  .price-history-section,
  .tracked-product-section {
    margin-bottom: 40px;
  }
  
  
  